
body {
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
 
}

h1 {
    margin: 20px;
    padding: 30px;
    background-color: bisque;
    text-align: center;
}

header {
    text-align: center;
}

/* the size of the image */
img{
    height: 400px;
    width: 450px;;
}


h2,h3 {
    border-bottom: chartreuse 10px solid;
}


  
  /* visited link */
  a:visited {
    color: #4fdbe8;
    font-weight: bold;
  }
  
    /* selected link */
    a:active {
        color: #4fdbe8;
        font-weight: bold;
      }

  /* mouse over link */
  a:hover {
    color:  bisque;
    font-weight: bold;
  }
  
/* unvisited link */
a:link {
    color: black;
    font-weight: bold;
  }